<div class="container-fluid text-center">
    <h1>About Page</h1>
    <p> Here at Hog Wild Pottery we invite you to explore our collection, visit the sore,
        sign up for classes and meet the artist behind HWP, Susan LeBlanc.
    </p>
</div>